.header{
 background: #FFF159;
 display:flex;
 justify-content: space-between;
 padding:20px;
 align-items:center;
}

.logo{
    width:90px;
    height:80px;
}

.brand{
    display:flex;
    align-items:center;
}


@media (max-width: 768px){
    .textBrand{
        width:150px;
    }
}

@media (max-width: 540px){
    .textBrand{
        width:100px;
    }
}

@media (max-width: 450px){
    .textBrand{
        display:none;
    }
}