*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.App{
  background-color:#E7E7E7;
  height: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align:center;
}

.grid-cards{
  display:flex;
  gap:20px;
  justify-content: center;
  flex-wrap: wrap;
  margin:30px 10%;
}

.header, .footer{
  align-self: stretch;
}